In [1]:
#% 기호를 사용한 문자열 형식화

"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [2]:
"나는 %d살 입니다." % 12

'나는 12살 입니다.'

In [3]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [5]:
"%d 곱하기 %d은 %d이다." % (2, 3, 6)

'2 곱하기 3은 6이다.'

In [6]:
"%s의 %s 과목 점수는 %d점이다." % ("철수", "수학", 100)

'철수의 수학 과목 점수는 100점이다.'

In [7]:
"%s is %d years old" % ("Tom", 13)

'Tom is 13 years old'

In [10]:
"%d / %d = %f" % (10, 3, 3.333)

'10 / 3 = 3.333000'

In [11]:
#고급 형식지정 문자열

"[%20s]" % "*"

'[                   *]'

In [13]:
"%20s" % "*"

'                   *'

In [14]:
"[%-20s]" % "A"

'[A                   ]'

In [15]:
"[%20d]" % 123

'[                 123]'

In [19]:
a = int(input())
b = int(input())

"%d" % a 
"%d" % b
print(a+b)

131346

In [20]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [22]:
"내 이름은 {{{}}}입니다".format("홍길동")

'내 이름은 {홍길동}입니다'

In [23]:
"{2}의 {0} 점수는 {1}점입니다. {1}점! {1}점!".format("수학", 100, "철수")

'철수의 수학 점수는 100점입니다. 100점! 100점!'

In [24]:
"{a}점수: {b}점, {c}점수: {d}점".format(a="영어", b="100", c="수학", d="90")

'영어점수: 100점, 수학점수: 90점'

In [25]:
"{}점수: {}점, {}점수: {}점".format("영어", 100, "수학", 90)

'영어점수: 100점, 수학점수: 90점'

In [27]:
"{:<10}".format("*")

'*         '

In [28]:
"{:>10}".format("*")

'         *'

In [29]:
"{:^10}".format("*")

'    *     '

In [30]:
"{:10.5f}".format(1/3)

'   0.33333'

In [31]:
"{:10,}".format(123456789)

'123,456,789'

In [33]:
#고급 형식지정 문자열
{:*>10}

SyntaxError: invalid syntax (1083346216.py, line 2)

In [1]:
x = [10, 11, 12]
"리스트의 첫번째 원소={0[0]}".format(x)

'리스트의 첫번째 원소=10'

In [2]:
#f문자열

name = "홍길동"
age = 32
print(f"{name}의 나이는 {age}살이다.")

홍길동의 나이는 32살이다.