In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-2.1.2-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
     -                                        0.5/10.6 MB 15.9 MB/s eta 0:00:01
     ----------                               2.8/10.6 MB 35.2 MB/s eta 0:00:01
     ---------------------                    5.7/10.6 MB 45.2 MB/s eta 0:00:01
     -------------------------                6.8/10.6 MB 39.5 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 59.5 MB/s eta 0:00:01
     --------------------------------------- 10.6/10.6 MB 46.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\yumzz\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yumzz\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
                                              0.0/502.5 kB ? eta -:--:--
     ------------------------------------- 502.5/502.5 kB 32.8 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ---------------------------------------- 341.8/341.8 kB ? eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\yumzz\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.2 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

In [2]:
#딕셔너리 -> 시리즈 변환

dict_data = {'a': 1, 'b': 2, 'c' : 3}

sr = pd.Series(dict_data) #딕셔너리 -> 시리즈 변환

print(type(sr))
print('\n')

print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [2]:
#시리즈 인덱스

list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [3]:
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [3]:
#시리즈 원소 선택

tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [5]:
print(sr[0])
print(sr['이름'])

영인
영인

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_2656\3589340035.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [7]:
#여러 개의 원소를 선택(인덱스 리스트 활용)

print(sr[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_2656\1295310002.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1, 2]])

In [8]:
#여러 개의 원소를 선택(인덱스 범위 지정)

print(sr[1:2])
print('\n')
print(sr['생년월일' : '성별'])

생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

In [9]:
#딕셔너리 -> 데이터프레임 변환

dict_data = {'c0':[1, 2, 3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df = pd.DataFrame(dict_data)

print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [2]:
#행 인덱스 / 열 이름 설정: pandas.DataFrame(2차원배열, index=행 인덱스 배열, columns=열 이름 배열)

In [8]:
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index = ['준서', '예은'], columns = ['나이', '성별', '학교'])

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [13]:
#행 인덱스 / 열 이름 설정

df.index = ['학생1', '학생2']
df.columns = ['연령', '남녀', '소속']

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

In [21]:
#행 인덱스 / 열 이름 변경

df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index=['준서','예은'], columns=['나이', '성별', '학교'])

print(df)
print("\n")


df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [ ]:
#행/열 삭제
#행 삭제: DataFrame 객체.drop(axis=0)
#열 삭제: DataFrame 객체.drop(axis=1)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (704181944.py, line 1)

In [12]:
df

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [23]:
# df = df.drop('학생1', axis=0)
df.drop('학생1', axis=0, inplace=True)

In [24]:
df

     연령 남녀   소속
학생2  17  여  수리중

In [26]:
#행 삭제

exam_data = {'수학':[90, 80, 70], '영어':[90, 89, 95], '음악':[85, 95, 100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

print(df)
print('\n')

df2 = df[:]
df2.drop('우현', inplace = True)
print(df2)
print('\n')

df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace = True)
print(df3)

    수학  영어   음악   체육
서준  90  90   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  90   85  100
인아  70  95  100   90


    수학  영어  음악   체육
서준  90  90  85  100

C:\Users\yumzz\AppData\Local\Temp\ipykernel_12700\2326001983.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace = True)
C:\Users\yumzz\AppData\Local\Temp\ipykernel_12700\2326001983.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현', '인아'], axis=0, inplace = True)

In [27]:
#열 삭제

exam_data = {'수학':[90, 80, 70], '영어':[90, 89, 95], '음악':[85, 95, 100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

print(df)
print('\n')

df4 = df.copy()
df4.drop('수학', axis=1, inplace = True)
print(df4)
print('\n')

df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학  영어   음악   체육
서준  90  90   85  100
우현  80  89   95   90
인아  70  95  100   90


    영어   음악   체육
서준  90   85  100
우현  89   95   90
인아  95  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [28]:
#행 선택

exam_data = {'수학':[90, 80, 70], '영어':[90, 89, 95], '음악':[85, 95, 100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

print(df)
print('\n')

labell = df.loc['서준']
position1 = df.iloc[0]
print(labell)
print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  90   85  100
우현  80  89   95   90
인아  70  95  100   90


수학     90
영어     90
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     90
음악     85
체육    100
Name: 서준, dtype: int64

In [ ]:
#열 선택

#열1개 선택(시리즈생성): DataFrame 객체["열 이름"] 또는 DataFrame 객체.열 이름
#열n개 선택(데이터프레임 생성): DataFrame 객체 [[열1, 열2, ..., 열n]]

In [2]:
exam_data = {'이름': ['서준', '우현', '인아'], '수학' : [90, 80, 70], '영어':[98, 89, 95], '음악':[85,95,100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

math1 = df['수학']  #객체["열 이름"]
print(math1)
print(type(math1))
print('\n')

english = df.영어 #객체.열 이름
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
music_gym = df[['음악', '체육']]
print(music_gym)
print(type(music_gym))
print('\n')

math2 = df[['수학']]
print(math2)
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

In [4]:
#원소 선택

exam_data = {'이름': ['서준', '우현', '인아'], '수학' : [90, 80, 70], '영어':[98, 89, 95], '음악':[85,95,100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data)

df.set_index('이름', inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [5]:
a = df.loc['서준', '음악']
print(a)

b = df.iloc[0, 2]
print(b)

85
85

In [6]:
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악' : '체육']
print(e)
f = df.iloc[0, 2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [7]:
#열 추가: DataFrame 객체['추가하려는 열 이름'] = 데이터값

exam_data = {'이름': ['서준', '우현', '인아'], '수학' : [90, 80, 70], '영어':[98, 89, 95], '음악':[85,95,100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [8]:
#행 추가: DattaFrame.loc['새로운 행 이름'] = 데이터값 (또는 배열)

exam_data = {'이름': ['서준', '우현', '인아'], '수학' : [90, 80, 70], '영어':[98, 89, 95], '음악':[85,95,100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

#새로운 행 추가 - 같은 원소 값 입력
df.loc[3] = 0
print(df)
print('\n')

#새로운 행 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

#새로운 행 추가 - 기존 행 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60


    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [16]:
#원소 값 변경

exam_data = {'이름': ['서준', '우현', '인아'], '수학' : [90, 80, 70], '영어':[98, 89, 95], '음악':[85,95,100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

df.set_index('이름', inplace=True)
print(df)
print('\n')

df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준', '체육'] = 100
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_22328\2356731850.py:13: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3] = 80

In [17]:
#행, 열 위치 바꾸기: DataFrame 객체.transpose() 또는 DataFrame 객체.T

exam_data = {'이름': ['서준', '우현', '인아'], '수학' : [90, 80, 70], '영어':[98, 89, 95], '음악':[85,95,100], '체육':[100, 90, 90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')

df = df.transpose()
print(df)
print('\n')

df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90